[user]
	name = Joseph H Kennedy
	email = me@jhkennedy.org
	signingkey = 2CDDD4B040432BDB
[push]
	default = simple
[ui]
    color = true
[alias]
    tree = log --graph --decorate --pretty=oneline --abbrev-commit --author-date-order
    author = log --graph --decorate --pretty=short --abbrev-commit --author-date-order
    up = fetch --all -p
    ff = pull --ff-only
    subup = !git submodule sync && git submodule update --init
[merge]
    summary = true
    ff = false
[core]
    autocrlf = input
    whitespace = trailing-space
	excludesfile = /home/jovyan/.gitignore_global
	editor = vim
    trustctime = false
    pager = less -F -X 
[commit]
	gpgsign = true
[gpg]
	program = gpg2
