[user]
	name = Joseph H Kennedy
	email = me@jhkennedy.org
	signingkey = 9812E96261570846 
[push]
	default = simple
[ui]
    color = true
[alias]
    tree = log --graph --decorate --pretty=oneline --abbrev-commit --author-date-order
    author = log --graph --decorate --pretty=short --abbrev-commit --author-date-order
    up = fetch --all -p
    ff = pull --ff-only
    subup = !git submodule sync && git submodule update --init
    dev = !git switch develop && git up && git ff
[merge]
    summary = true
    ff = false
[core]
    autocrlf = input
    whitespace = trailing-space
	excludesfile = /home/jhkennedy/.gitignore_global
	editor = vim
    trustctime = false
    pager = less -F -X 
[diff]
	tool = meld
[difftool]
	prompt = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[init]
	templateDir = /home/jhkennedy/.git-templates/git-secrets
